<footer>
  <address>
    Florida State University 600 W. College Avenue Tallahassee, FL 32306-1037
    <p>Questions or Comments? test@mail.t</p>
  </address>
</footer>

<style>
  footer {
    grid-column: 1 / -1;
    grid-row: 3;
    background-color: var(--primary-dark);
    height: var(--footerHeight);
    padding: 1rem;

    text-align: center;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin-top: 0;
  }
</style>
